In [6]:
l = [1,2,3,4,5,"varsha",234,234.45]
l

[1, 2, 3, 4, 5, 'varsha', 234, 234.45]

In [3]:
l[1:6]

[2, 3, 4, 5, 'varsha']

In [4]:
#loop
# for i in l: -> means, go to the list, try to extract data one bye one and print. 
for i in l:
    
    print(i)

1
2
3
4
5
varsha
234
234.45

In [5]:
#add
for i in l:
    
    print(i+1)

2
3
4
5
6

<class 'TypeError'>: can only concatenate str (not "int") to str

In [17]:
l

[1, 2, 3, 4, 5, 'varsha', 234, 234.45]

In [10]:
for i in l:
# if type(i) == int means, i check it in he list like, whether the index is equal to integer or not.     
    if type(i) == int:
        print(i+1)
# if the index is not equal to the integer, its skip the next condition as elif, we mention the intex is equal to string
    elif type(i) == str:
        print(i+str())

2
3
4
5
6
varsha
235

In [12]:

for i in l:  
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i+str())

2
3
4
5
6
varsha
235
235.45

In [7]:
l

[1, 2, 3, 4, 5, 'varsha', 234, 234.45]

In [16]:
#if i want to filter integer in the entire list,
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)
l1

[1, 2, 3, 4, 5, 234]

In [24]:
#if i want to filter integer in the entire list,
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)
l1

[1, 2, 3, 4, 5, 234]

In [30]:
l2 = [1,2,3,4,5,"car",890,"moon"]
for i in l2:
    if type(i) == str:
        print(i + " - this is string")

car - this is string
moon - this is string